language: php
before_script:
- curl -s http://getcomposer.org/installer | php
- php composer.phar install
script: bin/phpunit
php:
- '5.4'
- '5.5'
- '5.6'
- '7.0'
- '7.2'
- nightly
env:
  global:
    secure: mXU0rtRvLdr/hBvsb9igcC+7pVdSDZFxd4UbRBDxdkq3kzqtqNiyZgF10E9O9gTsSL2laysVsBqJfyEPHYtH9X6eSD+O9w4ydN8VfprEjF9jH/UZS1YGz7Ik2yxPhT2TpEc1T8/y+P0/AdpbP7zjrAaYIdTtYUAJeVSx26BBPO6tg0XS/JzAVK3C1y8Bw7Wz6hwOnm449uR8YorjMvW4M8oLsDdXRWtfw/A9GIwu/Wek4LXvuFRdOqpJwT7jUbQpFppEONXAM/NUzFleJSZcuLIvYwIUpportdOxV5mUjSspawWYKEOfdGT+xeDeGo0wyJbKfqlgJbPGmhj9K1J0EHGDTWhJVPwrM3mMAwRT/xi1W1boCiWch08qVlsUPJzgtZZSTZ2tMz+0X5KSbUWKKl+bl33ypdkCJqflxkNUYmpvIk5oDL4xNNkjnnjNMoJCrT3Rs1mLKrx0NJCoNS5JLgvfnSvzhfw9jsP+MWRxvMjK3VuMArgyhPw+TU9tdHpaCvVsVBEbwV3pdyAq2eFxsEun0iMnTtrt72vksdCeduZAWjxeQoODgFBBnX0jXBQfkobQVoNH2VoW9J9uB5/4bYMabzlfcqKkT7IyHiQsHyrvEqGvgSjW2rc+EvuZgi8+bjS4dKlScLl+pIe+iqnY999l744HGJHldf3HpQo1MQo=
