<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="ConvertApi Test Suite">
            <directory suffix="Test.php">./tests/ConvertApi/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./lib/ConvertApi/</directory>
        </whitelist>
    </filter>
</phpunit>
